{% extends 'notes/base.html' %}

{% block content %}
<h1>My Notes</h1>
<table class="note-table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Content</th>
            <th>Video</th>
            <th>Audio</th>
        </tr>
    </thead>
    <tbody>
        {% for note in notes %}
        <tr>
            <td class="title">{{ note.title }}</td>
            <td class="content">{{ note.content }}</td>
            <td>
                {% if note.video %}
                <video src="{{ note.video.url }}" controls></video>
                {% else %}
                N/A
                {% endif %}
            </td>
            <td>
                <form action="{% url 'note_delete' note.id %}" method="post" class="delete-form">
                    {% csrf_token %}
                    <input type="submit" value="Delete">
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}